#Titulo{
    color:turquoise;
    background-color: gray;
    border: blueviolet;
    border-style: groove;
    text-align: center;
}

#Subtitulo{
    text-align: center;
}

#esta{
   text-align: center;
    border: olivedrab;
    background-color: paleturquoise;
    border-style: groove;
}

#h{
    text-align: center;
    border: olivedrab;
    background-color: paleturquoise;
    border-style: groove;
}


.Soporte{
   display: inline-block ;
   border-color: rebeccapurple;
   background-color: gray;
   border-style: dashed;
   text-align: center;
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 23%;
    }

    

.V-M{
    text-align: center;
    background-color: gray;
    border-style: double;         
    padding: 4px;
    margin: 5%;
    /*  Mision Vision  */
    }

.pagina{
    display: inline-block;
    /*  redes sociales  */
       }
    



#chakas{
    display: inline-block;
    vertical-align: top;
}
.chakita{
    display: inline-block;
}




.vinculo
{
    list-style-type: none;
    text-align: center;
    background-color: burlywood;
    border-color: rebeccapurple;
    border-style: dashed;
}
