#guapo{
    color: olive;
    background-color: paleturquoise;
    border: red;
    border-style: groove;
    text-align: center;
}

#sub{
    text-align: center;
}

#esta{
   text-align: center;
    border: olivedrab;
    background-color: paleturquoise;
    border-style: groove;
}

#menu{

    text-align: center;
    
    
}
#con{
    text-align: center;
    border: olivedrab;
    background-color: paleturquoise;
    margin: 5%;
    border-style: groove;
}
#h{
    text-align: center;
    border: olivedrab;
    background-color: paleturquoise;
    border-style: groove;
}


#jujuy{
    text-align: center;
}
#tacos{
    display: block;
    text-align: center;
    margin-left: 575px;
}

.taco{
    
    display: inline-block ;
border-color: rebeccapurple;
   background-color: gray;
   border-style: dashed;
   text-align: center;
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 23%;
    }
    .taco p{
        text-align: center;
       
    }
    .taco1{
        text-align: center;
        
           background-color: gray;
           border-style: double;         
            padding: 4px;
     margin: 5%;
     
    }
 .taco1 h3{
     text-align: center;
    border: olivedrab;
    background-color: paleturquoise;
   
    border-style: groove;
    
 }
 .taco h2{
     padding: 4px;
     text-align: center;}
  .hola{
    
    list-style-type: none;
    text-align: center;
    background-color: burlywood;
    border-color: rebeccapurple;
    border-style: dashed;
}
.hola li{
display: inline-block;
    padding: 20px;
}
.chus{
    
    display: inline-block;
    
 
  
  
}
.conejo{
   text-align: center;
   border-style: groove;
  display: block;
    background-color: grey ; margin: 5%;
}
.chus a{
   
    display: block;
}
#chakas{
    display: inline-block;
    vertical-align: top;
}
.chakita{
    display: inline-block;
}
HEAD
.culo{
    display: inline-block ;
    border-color: rebeccapurple;
       background-color: gray;
       border-style: dashed;
       text-align: center;
       list-style-type: none;
       padding: 5;
       margin: 0;
       width: 23%;

}
#culo
{
    background-color: rgb(99, 216, 4);
    border-style: double;         
    padding: 4px;
    margin: 5%;
}
#lovek
{
    background-color: tomato;
    border-style: double;         
    padding: 4px;
    margin: 5%;
}
